# Virtual environments
.venv/

# Logs
sim/log_*.txt
# Build
sim/sim_build/
top_tracing_simulation/sim_build/
top_tracing_simulation/sim_build/

# Python artifacts
**/__pycache__/
*.pyc

# IDE settings (optional)
.vscode/
top_tracing_simulation/nitin.txt
learning/
